
@using Microsoft.AspNet.Identity
@using workIT.Utilities
@{
    var url = Request.Url.PathAndQuery.ToLower();

    var suffix = "";
    var clientToken = UtilityManager.GetAppKeyValue( "finderClientToken", "" );
    var callbackUrl = UtilityManager.GetAppKeyValue( "finderCallbackUrl", "" );
    var loginApi = UtilityManager.GetAppKeyValue( "accountsLogin", "" );
    var loginUrl = "~/Account/Login?returnUrl=" + ( url.Contains( "/account" ) ? "" : url );
    var registerUrl = "~/Account/Register";
    var accountsRegister = UtilityManager.GetAppKeyValue( "accountsRegister", "" );
    if ( Request.Url.Host.ToLower().Contains( "credfinder.siuccwd.com" )
|| Request.Url.Host.ToLower().Contains( "localhost" )
)
    {
        loginUrl = "~/Account/LoginTest?returnUrl=" + url;
        registerUrl = "~/Account/RegisterTest";
        suffix = "Test";
    }
    if ( string.IsNullOrWhiteSpace( loginApi ) )
    {
        loginApi = loginUrl;
    }
    else
    {
        loginApi += "?ClientId=" + clientToken + "&callback=" + callbackUrl;
        registerUrl = accountsRegister;
    }
    //var user = AccountServices.GetCurrentUser();
}
<div id="mainSiteFooter">
    <div class="footerColumn footerLogo">
        <a id="mainSiteFooterLogo" href="@Url.Content( "~/home" )"><img src="@Url.Content( "~/Images/Common/poweredby.png" )" /></a>
        <a id="mainSiteFooterLogin" href="@Url.Content( "~/home/about" )">About Credential Finder</a>
        <div id="footerLogoText">Learn more about the <a href="http://www.credentialengine.org/" target="_blank">Credential Engine</a></div>
        <a id="mainSiteFooterLogin" href="@Url.Content( @loginApi )">Login</a>
        @if ( Request.Url.Host.ToLower().Contains( "localhost" ) )
        {
            <a href="@Url.Content( @loginUrl )">OLD Account Login</a>
        }
    </div>
	<div class="footerColumn">
		<h2>Follow Us:</h2>
		<a href="https://twitter.com/credengine" target="_blank"><i class="fab fa-twitter-square fa-fw"></i> Twitter</a>
		<a href="https://www.facebook.com/credengine" target="_blank"><i class="fab fa-facebook-square fa-fw"></i> Facebook</a>
		<a href="https://www.youtube.com/channel/UCyTpUktFYQNlLrLR4O_AcQA" target="_blank"><i class="fab fa-youtube-square fa-fw"></i> YouTube</a>
		<a href="https://www.linkedin.com/company/credential-engine" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
		<h2>Contact Us:</h2>
		<a href="mailto:info@credentialengine.org" target="_blank"><i class="fa fa-fw fa-envelope"></i> Email Us</a>
	</div>
	<div class="footerColumn">
        <h2>Information</h2>
        <a href="@Url.Content( "~/Reports" )">Credential Finder Data</a>
	</div>
	<div class="footerColumn">
		<h2>Policies and Terms of Use:</h2>
		<a href="http://credentialengine.org/privacy-policy/">Privacy Policy</a>
		<a href="http://credentialengine.org/terms/">Terms of Use</a>
		<a href="http://credentialengine.org/publishers-agreement/">Publishers Agreement</a>
		<a href="http://credreg.net/registry/policy#mindata">Minimum Data Policy</a>
		<a href="http://credreg.net/registry/policy#currency">Data Currency Policy</a>
	</div>
	<div class="footerColumn">
		<h2>Websites:</h2>
		<a target="_blank" href="http://www.credentialengine.org">Credential Engine</a>
		<a target="_blank" href="http://credreg.net">Credential Engine Technical Planning</a>
	</div>
	<div class="footerColumn">
		<h2>Supported By:</h2>
		<a class="imageLink" href="http://www.luminafoundation.org/" target="_blank" title="Lumina Foundation"><img src="@Url.Content( "~/images/common/logo_lumina.jpg" )" /></a>
		<a class="imageLink" href="https://www.jpmorganchase.com/corporate/Corporate-Responsibility/global-philanthropy.htm" target="_blank" title="JPMorgan Chase & Co."><img src="@Url.Content( "~/images/common/logo_jpmorgan.jpg" )" /></a>
		<a class="imageLink" href="http://www.microsoft.com/" target="_blank" title="Microsoft"><img src="@Url.Content( "~/images/common/logo_microsoft.jpg" )" /></a>
		<a class="imageLink" href="http://www.northropgrumman.com/CorporateResponsibility/CorporateCitizenship/Philanthropy/Pages/Foundation.aspx" target="_blank" title="Northrop Grumman Foundation"><img src="@Url.Content( "~/images/common/logo_northropgrumman.jpg" )" /></a>
		<a class="imageLink" href="http://giving.walmart.com/" target="_blank" title="Walmart Giving"><img src="@Url.Content( "~/images/common/logo_walmart.png" )" /></a>
		<a class="imageLink" href="https://www.ecmcfoundation.org/" target="_blank" title="ECMC Foundation"><img src="@Url.Content( "~/images/common/logo_ecmc.jpg" )" /></a>
	</div>
</div>
