@using workIT.Models;
@using workIT.Models.Common;
@using workIT.Models.Helpers.Reports;
@model workIT.Models.Helpers.Reports.CommonTotals
@{
	ViewBag.Title = "Reports";

	//From https://docs.google.com/spreadsheets/d/1RaqRY_s9evMdlXUKVLh1xSNGJgqVig3Jnn1H5vlhRwg/edit#gid=0
	//var totalOrgs = Model.TotalOrganizations;
	//var totalCreds = Model.TotalCredentialsAtCurrentCtdl;
	var totalOrgs = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "Organization" ).Totals;
	//var totalReferenceOrgs = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "Organization" ).Totals;
	var totalCreds = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "Credential" ).Totals;
	var totalAsmts = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "AssessmentProfile" ).Totals;
	var totalLopps = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "LearningOpportunity" ).Totals;
	var totalComps = Model.MainEntityTotals.FirstOrDefault( m => m.Name == "CompetencyFramework" ).Totals;
	var enumServices = new EnumerationServices();
	var rand = new Random();
	var states = new List<string>() { "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming" };

	var stats = new List<Statistic>()
{
/*Organizations
* new Statistic( "Partner Organizations", "Organizations recognized as Credential Engine Partners", 98, "organizations_partners", new List<string>() { "organizations", "organizations_partners", "general" } ) { CategoryId = "7", CodeId = "2375", IsSearchabilityAllowed = true },
* */
new Statistic( "Total PUBLISHED Organizations", "All published organizations in the system. Reference organizations are not included.", totalOrgs, "organizations_total", new List<string>() { "organizations", "grandTotal" } ),
//new Statistic( "Additional Reference Organizations", "An organization that is referenced by another document (for example accredited by) but not actually published is referred to as a reference organization.", totalReferenceOrgs, "organizations_total", new List<string>() { "organizations", "grandTotal" },"",2,"", false ),
Model.GetSingleStatistic( "orgReport:IsReferenceOrg", "IsReferenceOrg", new List<string>() { "organizations", "grandTotal", "endTopSection" }, false, "Additional Reference Organizations", "An organization that is referenced by another document (for example accredited by) but not actually published, is referred to as a reference organization.", false, 5 ),
//Model.GetSingleStatistic( "orgReport:IsReferenceOrg", "IsReferenceOrg", new List<string>() { "organizations", "general" }, false, "Reference Organizations", "An organization that is referenced by another document (for example accredited by) but not actually published is referred to as a reference organization." ),
Model.GetSingleStatistic( "orgReport:HasCostManifest", "hasCostManifest", new List<string>() { "organizations", "general" }, true, "Has Cost Manifest", "Organizations who have cost manifest(s)" ),

Model.GetSingleStatistic( "orgReport:HasNoCostManifests", "hasNoCostManifests", new List<string>() { "organizations", "general" }, true, "Has No Cost Manifests", "Organizations who do not have cost manifest(s)" ),

Model.GetSingleStatistic( "orgReport:HasConditionManifest", "hasConditionManifest", new List<string>() { "organizations", "general" }, true, "Has Condition Manifest", "Organizations who have condition manifest(s)" ),

Model.GetSingleStatistic( "orgReport:HasNoConditionManifests", "hasNoConditionManifests", new List<string>() { "organizations", "general" }, true, "Has No Condition Manifests", "Organizations who do not have condition manifest(s)" ),

Model.GetSingleStatistic( "orgReport:HasVerificationService", "hasVerificationService", new List<string>() { "organizations", "general" }, true, "Has Verification Service", "Organizations that offer a verification service for their credentials" ),

Model.GetSingleStatistic( "orgReport:HasNoVerificationService", "hasNoVerificationService", new List<string>() { "organizations", "general" }, true, "Has No Verification Service", "Organizations that DO NOT offer a verification service for their credentials" ),

Model.GetSingleStatistic( "orgReport:HasSubsidiary", "hasSubsidiary", new List<string>() { "organizations", "general" }, true, "Has Subsidiary", "Organizations that are having subsidiaries", true ),

Model.GetSingleStatistic( "orgReport:HasDepartment", "hasDepartment", new List<string>() { "organizations", "general" }, true, "Has Department", "Organizations that are having departments", true ),

Model.GetSingleStatistic( "orgReport:HasIndustries", "hasIndustries", new List<string>() { "organizations", "general" }, true, "Has Industries", "Organizations that are having Industries.", true ),

//Credentials
new Statistic( "Total Credentials", "All Credentials in the system", totalCreds, "credentials_total", new List<string>() { "credentials", "grandTotal", "endTopSection" }),

Model.GetSingleStatistic( "credReport:AvailableOnline", "availableOnline", new List<string>() { "credentials", "general" }, true, "Available Online", "Credentials that are available online" ),

Model.GetSingleStatistic( "credReport:HasProcessProfile", "hasProcess", new List<string>() { "credentials", "general" }, true, "Has Process Information", "Credentials that have process-related information" ),
Model.GetSingleStatistic( "credReport:HasRevocation", "hasRevocation", new List<string>() { "credentials", "general" }, true, "Has Revocation Information", "Credentials that have revocation-related information" ),
Model.GetSingleStatistic( "credReport:HasVerificationBadges", "hasVerificationBadges", new List<string>() { "credentials", "general" }, true, "Has Verification Badges", "Credentials that have verification badges." ),
Model.GetSingleStatistic( "credReport:HasEmbeddedCredentials", "hasEmbeddedCredentials", new List<string>() { "credentials", "general" }, true, "Has Embedded Credentials", "Credentials that have Embedded Credentials." ),
Model.GetSingleStatistic( "credReport:HasOccupations", "hasOccupations", new List<string>() { "credentials", "general" }, true, "Has Occupations", "Credentials that are having Occupations." , true),
Model.GetSingleStatistic( "credReport:HasIndustries", "hasIndustries", new List<string>() { "credentials", "general" }, true, "Has Industries", "Credentials that are having Industries.", true ),
Model.GetSingleStatistic( "credReport:HasCIP", "hasCIP", new List<string>() { "credentials", "general" }, true, "Has Instructional Programs", "Credentials that reference instructional Programs.", true ),
Model.GetSingleStatistic( "credReport:HasCompetencies", "hasCompetencies", new List<string>() { "credentials", "general" }, true, "Has Competencies", "Credentials that are having any competencies." , true),
Model.GetSingleStatistic( "credReport:IsPartOfCredential", "IsPartOfCredential", new List<string>() { "credentials", "credentialConnectionType" }, true, "Is PartOf Credential", "Credentials that are Is Part Of Other Credentials." , true ),
Model.GetSingleStatistic( "credReport:HasConditionProfile", "HasConditionProfile", new List<string>() { "credentials", "general" }, true, "Has Condition Profile", "Credentials that are having Condition Profiles.", true ),
Model.GetSingleStatistic( "credReport:HasDurationProfile", "HasDurationProfile", new List<string>() { "credentials", "general" }, true, "Has Duration Profile", "Credentials that are having Duration Profiles.", true ),
//Requires
Model.GetSingleStatistic( "credReport:RequiresCredential", "requiresCredential", new List<string>() { "credentials", "directConnection" }, true, "Requires Credentials", "Credentials that require at least one credential" ),
Model.GetSingleStatistic( "credReport:RequiresCompetencies", "requiresCompetency", new List<string>() { "credentials", "directConnection" }, true , "Requires Competencies", "Credentials that require at least one competency" ),
Model.GetSingleStatistic( "credReport:RequiresAssessment", "requiresAssessment", new List<string>() { "credentials", "directConnection" }, true, "Requires Assessment", "Credentials that require at least one assessment" ),
Model.GetSingleStatistic( "credReport:RequiresLearningOpportunity", "requiresLearningOpportunity", new List<string>() { "credentials", "directConnection" }, true, "Requires Learning Opportunity", "Credentials that require at least one learning opportunity" ),

//Costs
Model.GetSingleStatistic( "credReport:HasCostProfile", "credentialHasCostProfile", new List<string>() { "credentials", "general" }, true, "Has Cost Profile", "Credentials that have Cost Profile(s)" ),
Model.GetSingleStatistic( "credReport:ReferencesCommonConditions", "credentialReferencesCommonConditions", new List<string>() { "credentials", "general" }, true, "References Common Conditions", "Credentials that reference Common Conditions" ),
Model.GetSingleStatistic( "credReport:ReferencesCommonCosts", "credentialReferencesCommonCosts", new List<string>() { "credentials", "general" }, true, "References Common Costs", "Credentials that reference Common Costs" ),
Model.GetSingleStatistic( "credReport:FinancialAid", "credentialtFinancialAid", new List<string>() { "credentials", "general" }, true, "Financial Aid", "Credentials that have Financial Assistance" ),

//Recommends
Model.GetSingleStatistic( "credReport:RecommendsCredential", "recommendsCredential", new List<string>() { "credentials", "directConnection" }, true, "Recommends Credentials", "Credentials that recommend at least one credential" ),
Model.GetSingleStatistic( "credReport:RecommendsAssessment", "recommendsAssessment", new List<string>() { "credentials", "directConnection" }, true, "Recommends Assessment", "Credentials that recommend at least one assessment" ),
Model.GetSingleStatistic( "credReport:RecommendsLearningOpportunity", "recommendsLearningOpportunity", new List<string>() { "credentials", "directConnection" }, true, "Recommends Learning Opportunity", "Credentials that recommend at least one learning opportunity" ),

//Assessments
new Statistic("Total Assessments", "All Assessments in the system", totalAsmts, "assessments_total", new List<string>() { "assessments", "grandTotal", "general", "endTopSection" }),

Model.GetSingleStatistic( "asmtReport:AvailableOnline", "assessmentAvailableOnline", new List<string>() { "assessments", "general" }, true, "Available Online", "Assessments that are available online" ),
Model.GetSingleStatistic( "asmtReport:RequiresCompetencies", "assessmentRequiresCompetencies", new List<string>() { "assessments", "general" }, false, "Requires Competencies", "Assessments that require competencies" ),
Model.GetSingleStatistic( "asmtReport:AssessesCompetencies", "assessmentAssessesCompetencies", new List<string>() { "assessments", "general" }, true, "Assesses Competencies", "Assessments that assess competencies" ),
Model.GetSingleStatistic( "asmtReport:HasCostProfile", "assessmentHasCostProfile", new List<string>() { "assessments", "general" }, true, "Has Cost Profile", "Assessments that have Cost Profile(s)" ),
Model.GetSingleStatistic( "asmtReport:HasDurationProfile", "assessmentHasDurationProfile", new List<string>() { "assessments", "general" }, true, "Has Duration Profile", "Assessments that have Duration Profile(s)" , true),
Model.GetSingleStatistic( "asmtReport:ReferencesCommonConditions", "assessmentReferencesCommonConditions", new List<string>() { "assessments", "general" }, true, "References Common Conditions", "Assessments that are having Common Conditions" ),
Model.GetSingleStatistic( "asmtReport:ReferencesCommonCosts", "assessmentReferencesCommonCosts", new List<string>() { "assessments", "general" }, true, "References Common Costs", "Assessments that are having  Common Costs" ),
Model.GetSingleStatistic( "asmtReport:FinancialAid", "assessmentFinancialAid", new List<string>() { "assessments", "general" }, true, "Financial Aid", "Assessments that are having  Financial Assistance" ),
Model.GetSingleStatistic( "asmtReport:HasProcessProfile", "assessmenthasProcess", new List<string>() { "assessments", "general" }, true, "Has Process Information", "Assessments that have process-related information" ),
Model.GetSingleStatistic( "asmtReport:HasOccupations", "assessmentHasOccupations", new List<string>() { "assessments", "general" }, true, "Has Occupations", "Assessments that are having Occupations." , true),
Model.GetSingleStatistic( "asmtReport:HasIndustries", "assessmentHasIndustries", new List<string>() { "assessments", "general" }, true, "Has Industries", "Assessments that are having Industries.", true ),
Model.GetSingleStatistic( "asmtReport:HasCIP", "assessmentHasCIP", new List<string>() { "assessments", "general" }, true, "Has Instructional Programs", "Assessments that reference Instructional Programs" ),

//Learning Opportunities
new Statistic("Total Learning Opportunities", "All Learning Opportunities in the system", totalLopps, "learningOpportunities_total", new List<string>() { "learningOpportunities", "grandTotal", "general", "endTopSection" }),

Model.GetSingleStatistic( "loppReport:AvailableOnline", "loppAvailableOnline", new List<string>() { "learningOpportunities", "general" }, true, "Available Online", "Learning Opportunities that are available online" ),
Model.GetSingleStatistic( "loppReport:RequiresCompetencies", "loppRequiresCompetencies", new List<string>() { "learningOpportunities", "general" }, false, "Requires Competencies", "Learning Opportunities that require competencies" ),
Model.GetSingleStatistic( "loppReport:TeachesCompetencies", "loppTeachesCompetencies", new List<string>() { "learningOpportunities", "general" }, true, "Teaches Competencies", "Learning Opportunities that teach competencies" ),
Model.GetSingleStatistic( "loppReport:HasCostProfile", "loppHasCostProfile", new List<string>() { "learningOpportunities", "general" }, true, "Has Cost Profile", "Learning Opportunities that have Cost Profile(s)" ),
Model.GetSingleStatistic( "loppReport:HasDurationProfile", "loppHasDurationProfile", new List<string>() { "learningOpportunities", "general" }, true, "Has Duration Profile", "Learning Opportunities that have Duration Profile(s)", true ),
Model.GetSingleStatistic( "loppReport:ReferencesCommonConditions", "loppReferencesCommonConditions", new List<string>() { "learningOpportunities", "general" }, true, "References Common Conditions", "Learning Opportunities that are having Common Conditions" ),
Model.GetSingleStatistic( "loppReport:ReferencesCommonCosts", "loppReferencesCommonCosts", new List<string>() { "learningOpportunities", "general" }, true, "References Common Costs", "Learning Opportunities that are having  Common Costs" ),
Model.GetSingleStatistic( "loppReport:FinancialAid", "loppFinancialAid", new List<string>() { "learningOpportunities", "general" }, true, "Financial Aid", "Learning Opportunities that are having Financial Aid" ),
Model.GetSingleStatistic( "loppReport:HasProcessProfile", "lopphasProcess", new List<string>() { "learningOpportunities", "general" }, true, "Has Process Information", "Learning Opportunities that have process-related information" ),
Model.GetSingleStatistic( "loppReport:HasOccupations", "loppHasOccupations", new List<string>() { "learningOpportunities", "general" }, true, "Has Occupations", "Learning Opportunities that are having Occupations." , true),
Model.GetSingleStatistic( "loppReport:HasIndustries", "loppHasIndustries", new List<string>() { "learningOpportunities", "general" }, true, "Has Industries", "Learning Opportunities that are having Industries.", true ),
Model.GetSingleStatistic( "loppReport:HasCIP", "loppHasCIP", new List<string>() { "learningOpportunities", "general" }, true, "Has Instructional Programs", "Learning Opportunities that reference Instructional Programs" ),

//Competency Framework
new Statistic("Total Competency Frameworks", "All Competency Frameworks in the system", totalComps, "competencyFrameworks_total", new List<string>() { "competencyFrameworks", "grandTotal", "general" }),
Model.GetSingleStatistic( "frameworkReport:HasEducationLevels", "HasEducationLevels", new List<string>() { "competencyFrameworks", "general" }, false, "Has Education Levels", "Competency Frameworks that have Education Levels" ),
Model.GetSingleStatistic( "frameworkReport:HasBroadAlignment", "HasBroadAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Broad Alignment", "Competency Frameworks with Competencies that have any Broad Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasExactAlignment", "HasExactAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Exact Alignment", "Competency Frameworks with Competencies that have any Exact Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasMajorAlignment", "HasMajorAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Major Alignment", "Competency Frameworks with Competencies that have any Major Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasMinorAlignment", "HasMinorAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Minor Alignment", "Competency Frameworks with Competencies that have any Minor Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasNarrowAlignment", "HasNarrowAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Narrow Alignment", "Competency Frameworks with Competencies that have any Narrow Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasPrerequisiteAlignment", "HasPrerequisiteAlignment", new List<string>() { "competencyFrameworks", "general" }, false, "Has Prerequisite Alignment", "Competency Frameworks with Competencies that have any Prerequisite Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasAlignFrom", "HasAlignFrom", new List<string>() { "competencyFrameworks", "general" }, false, "Has 'AlignFrom' Alignments", "Competency Frameworks with Competencies that have any 'AlignFrom' Alignment(s)" ),
Model.GetSingleStatistic( "frameworkReport:HasAlignTo", "HasAlignTo", new List<string>() { "competencyFrameworks", "general" }, false, "Has 'AlignTo' Alignments", "Competency Frameworks with Competencies that have any 'AlignTo' Alignment(s)" )


};
	//Placeholder
	var statsToDevelop = new List<Statistic>
	()
{
new Statistic("Organizations with Quality Assurance", "Organizations which receive Quality Assurance", Ceiling( totalOrgs * 0.75 ), "organizations_withQA", new List<string>
() { "organizations", "organizations_withQA", "general" } ),
new Statistic("Organizations available online", "Organizations which have a significant online presence", Ceiling( totalOrgs * 0.8 ), "organizations_online", new List<string>
() { "organizations", "organizations_online", "general" } ),
new Statistic("Organizations with unique identifier", "Organizations which have a unique identifier such as IPEDS, OPE ID, FEIN, etc.", Ceiling( totalOrgs * 0.65 ), "organizations_uniqueID", new List<string>
() { "organizations", "organizations_uniqueID", "general" } ),
new Statistic("Credentials with Quality Assurance", "Credentials which receive Quality Assurance", Ceiling( totalCreds * 0.3 ), "credentials_withQA", new List<string>
() { "credentials", "credentials_withQA", "general" }),
};

	//Organizations by role
	stats = stats.Concat( Model.GetStatisticsByEntity( "Organization", "agentRole", "organizationAgentRole", new List<string>
				() { "organizations", "organizationAgentRole" }, false, true ) ).ToList();


	//Organizations by type
	stats = stats.Concat( Model.GetStatistics( "ceterms:OrganizationType", "organizationType", new List<string>
		() { "organizations", "organizationType" } ) ).ToList();

	//Organizations by sector
	stats = stats.Concat( Model.GetStatistics( "ceterms:AgentSector", "organizationSector", new List<string>
		() { "organizations", "organizationSector" } ) ).ToList();

	//Organizations by service type
	stats = stats.Concat( Model.GetStatistics( "ceterms:AgentServiceType", "organizationService", new List<string>
		() { "organizations", "organizationService" } ) ).ToList();

	//Organizations by identity type
	stats = stats.Concat( Model.GetStatistics( "identityType", "organizationIdentity", new List<string>
		() { "organizations", "organizationIdentity" }, false, false ) ).ToList();

	stats = stats.Concat( Model.GetStatisticsByEntity( "Organization", "ceterms:industryType", "organizationIndustryGroup", new List<string>
		() { "organizations", "organizationIndustryGroup" }, false, false ) ).ToList();
	//Organization by History
	//stats = stats.Concat( Model.GetStatistics( "history", "organizationHistory", new List<string>	() { "organizations", "organizationHistory" }, false, false ) ).ToList();

	//Organizations by social media type - codes are not used,
	//stats = stats.Concat( Model.GetStatistics( "sameAs", "organizationSocialMedia", new List<string>	() { "organizations", "organizationSocialMedia" }, false, false ) ).ToList();

	stats = stats.Concat( Model.GetStatisticsByEntity( "VerificationProfile", "ctdl:ClaimType", "organizationVerifyType", new List<string>
		() { "organizations", "organizationVerifyType" }, true, true ) ).ToList();

	//Organizations by state
	foreach ( var state in states )
	{
		statsToDevelop.Add( new Statistic( state, "Organizations that have a significant presence in " + state, rand.Next( totalOrgs ), "organizationState_" + state.Replace( " ", "_" ).ToLower(), new List<string>
			() { "organizations", "organizationState" } ) );
	}

	//Credentials by role
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "agentRole", "credentialAgentRole", new List<string>
		() { "credentials", "credentialAgentRole" }, false, true ) ).ToList();

	//Credentials by type - this will be different than for the publisher, not in entity.property
	stats = stats.Concat( Model.GetStatistics( "ceterms:credentialType", "credentialType", new List<string>
		() { "credentials", "credentialType" } ) ).ToList();

	//Credentials by audience type (Note - combining all instances; Note - Credential does not have audience type - are these supposed to come from condition profile (presumably only "requires")?)
	stats = stats.Concat( Model.GetStatisticsByEntity( "Entity. ConditionProfile", "ceterms:Audience", "credentialAudience", new List<string>
		() { "credentials", "credentialAudienceType" } ) ).ToList();

	//Credentials by cost type (Note - combining all cost instances; Note - not supposed to include this by type)
	//stats = stats.Concat( Model.GetStatistics( "ceterms:CostType", "costType", new List<string>	() { "credentials", "credentialCostType" } ) ).ToList();

	//Credentials by audience level
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:AudienceLevel", "audienceLevel", new List<string>
		() { "credentials", "credentialAudienceLevel" } ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:Audience", "credentialAudienceType", new List<string>
		() { "credentials", "credentialAudienceType" } ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:AssessmentDelivery", "credentialAssessmentDelivery", new List<string>
		() { "credentials", "credentialAssessmentDelivery" } ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:Delivery", "credentialLearningDelivery", new List<string>
		() { "credentials", "credentialLearningDelivery" } ) ).ToList();
	//Credentials by state
	foreach ( var state in states )
	{
		statsToDevelop.Add( new Statistic( state, "Credentials recognized in " + state, rand.Next( totalCreds ), "credentialState_" + state.Replace( " ", "_" ).ToLower(), new List<string>
			() { "credentials", "credentialState" } ) );
	}

	//Credentials by connection type
	var connStats = Model.GetStatisticsByEntity( 1, "conditionProfile", "credentialConnectionType", new List<string>
		() { "credentials", "credentialConnectionType" }, false );
	foreach ( var conn in connStats )
	{
		stats.Add( new Statistic( conn.Title, "Credentials with a \"" + conn.Title + "\" connection to other entities", conn.Value, conn.Id, conn.Tags, conn.CategoryId, conn.CodeId, true ) );
	}

	//Credentials by status type
	stats = stats.Concat( Model.GetStatistics( "ceterms:CredentialStatus", "credentialStatusType", new List<string>
		() { "credentials", "credentialStatusType" } ) ).ToList();

	//Credentials by SOC and NAICS
	//stats = stats.Concat( Model.GetStatistics( "ceterms:occupationType", "credentialSocGroup", new List<string>	() { "credentials", "credentialSocGroup" }, false, false ) ).ToList();
	//stats = stats.Concat( Model.GetStatistics( "ceterms:industryType", "credentialIndustryGroup", new List<string>	() { "credentials", "credentialIndustryGroup" }, false, false ) ).ToList();

	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:occupationType", "credentialSocGroup", new List<string>
		() { "credentials", "credentialSocGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:industryType", "credentialIndustryGroup", new List<string>
		() { "credentials", "credentialIndustryGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:instructionalProgramType", "credentialCIPGroup", new List<string>
		() { "credentials", "credentialCIPGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntityRegion( 1, "United States", "credentialRegions", new List<string>
		() { "credentials", "credentialRegions" }, false, false ) ).ToList();
	//
	//stats = stats.Concat( Model.GetStatistics( "ctdl:NaicsGroup", "organizationIndustryGroup", new List<string>	() { "credentials", "organizationIndustryGroup" }, false, false ) ).ToList();

	//stats = stats.Concat( Model.GetStatistics( "ceterms:industryType", "credentialIndustryGroup", new List<string>	() { "credentials", "credentialIndustryGroup" }, false, false ) ).ToList();
	//stats = stats.Concat( Model.GetStatisticsByEntity( 1, "ceterms:industryType", "credentialIndustryGroup", new List<string>	() { "credentials", "credentialIndustryGroup" }, false, false ) ).ToList();

	//Assessments by role
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "agentRole", "assessmentAgentRole", new List<string>
() { "assessments", "assessmentAgentRole" }, false, true ) ).ToList();

	//Assessments by method
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:AssessmentMethod", "assessmentMethod", new List<string>
		() { "assessments", "assessmentMethodType" } ) ).ToList();

	//Assessments by use
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:AssessmentUse", "assessmentUse", new List<string>
		() { "assessments", "assessmentUseType" } ) ).ToList();

	//Assessments by delivery type
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:Delivery", "assessmentDelivery", new List<string>
		() { "assessments", "assessmentDelivery" } ) ).ToList();

	//Assessments by scoring method
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:ScoringMethod", "assessmentScoringMethod", new List<string>
		() { "assessments", "assessmentScoringMethodType" } ) ).ToList();

	//Assessments by audience
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:Audience", "assessmentAudienceType", new List<string>
		() { "assessments", "assessmentAudienceType" } ) ).ToList();

	//Assessment Occupation and Industry groups
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:occupationType", "assessmentSocGroup", new List<string>
		() { "assessments", "assessmentSocGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:industryType", "assessmentIndustryGroup", new List<string>
		() { "assessments", "assessmentIndustryGroup" }, false, false ) ).ToList();

	//stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:instructionalProgramType", "assessmentCIPGroup", new List<string>	() { "assessments", "assessmentCIPGroup" }, false, false ) ).ToList();
	//stats = stats.Concat( Model.GetStatistics( "ceterms:instructionalProgramType", "assessmentCIPGroup", new List<string>	() { "assessments", "assessmentCIPGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 3, "ceterms:instructionalProgramType", "assessmentCIPGroup", new List<string>
		() { "assessments", "assessmentCIPGroup" }, false, false ) ).ToList();

	//Learning Opportunities by role
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "agentRole", "learningOpportunityAgentRole", new List<string>
		() { "learningOpportunities", "learningOpportunityAgentRole" }, false, true ) ).ToList();

	//Learning Opportunities by method (Note - erroneous \t character in schema)
	stats = stats.Concat( Model.GetStatistics( "\tceterms:LearningMethod", "learningMethodType", new List<string>
		() { "learningOpportunities", "learningMethodType" } ) ).ToList();
	stats = stats.Concat( Model.GetStatistics( "ceterms:LearningMethod", "learningMethodType", new List<string>
		() { "learningOpportunities", "learningMethodType" } ) ).ToList();

	//Learning Opportunities by audience
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:Audience", "learningOpportunityAudienceType", new List<string>
		() { "learningOpportunities", "learningOpportunityAudienceType" } ) ).ToList();


	//Learning Opportunities by delivery method
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:Delivery", "deliveryType", new List<string>
		() { "learningOpportunities", "deliveryType" } ) ).ToList();

	//Learning Occupation and Industry group
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:occupationType", "learningOpportunitySocGroup", new List<string>
		() { "learningOpportunities", "learningOpportunitySocGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:industryType", "learningOpportunityIndustryGroup", new List<string>
		() { "learningOpportunities", "learningOpportunityIndustryGroup" }, false, false ) ).ToList();

	//stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:instructionalProgramType", "learningOpportunityCIPGroup", new List<string>	() { "learningOpportunities", "learningOpportunityCIPGroup" }, false, false ) ).ToList();
	//stats = stats.Concat( Model.GetStatistics( "ceterms:instructionalProgramType", "learningOpportunityCIPGroup", new List<string>	() { "learningOpportunities", "learningOpportunityCIPGroup" }, false, false ) ).ToList();
	stats = stats.Concat( Model.GetStatisticsByEntity( 7, "ceterms:instructionalProgramType", "learningOpportunityCIPGroup", new List<string>
		() { "learningOpportunities", "learningOpportunityCIPGroup" }, false, false ) ).ToList();
	//TODO: add the rest of the organization, credential, assessment, and learning opportunity related items

}
@functions {
	public int Ceiling( double d )
	{
		return ( int )Math.Ceiling( ( decimal )d );
	}

	public string Identify( string prefix, EnumeratedItem item )
	{
		return prefix + "_" + ( item.SchemaName ?? "" ).Replace( ":", "_" );
	}

	public string Identify( string prefix, CodeItem item )
	{
		return prefix + "_" + ( item.SchemaName ?? "" ).Replace( ":", "_" );
	}
}
@helper RenderStatBox( string title, string entityType, string cssClass, List<Statistic> stats, Dictionary<string, string> buttons, bool orderAlpha = false, List<HistoryTotal> history = null )
{
	history = ( history ?? new List<HistoryTotal>() ).OrderByDescending( m => m.Period ).ToList();
	var grandTotalItem = stats.FirstOrDefault( m => m.Tags.Contains( "grandTotal" ) );
	if ( grandTotalItem == null )
	{
		grandTotalItem = new Statistic();
	}
	if ( orderAlpha )
	{
		stats = stats.OrderByDescending( m => m.Tags.Contains( "grandTotal" ) )
				.ThenBy( m => m.Title ).ToList();
	}
	else
	{
		stats = stats.OrderByDescending( m => m.Tags.Contains( "grandTotal" ) )
				//.ThenByDescending( m => m.Tags.Contains( "addTotal" ) )
				.ThenBy( m => m.PrimarySortOrder )
				.ThenByDescending( m => m.Value ).ToList();
	}
	<div class="statMainClass @cssClass">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=yes">
		<h2 class="statHeader">@title</h2>
		<div class="statBox">
			<div class="statSummary">
				<div class="statTotalBox">
					<div class="statGrandTotal">@grandTotalItem.Value</div>
					<div class="statGrandTotalTitle">Total @title</div>
				</div>
				<div class="statButtons">
					@foreach ( var button in buttons )
					{
						if ( stats.Where( m => m.Tags.Contains( button.Key ) ).Count() > 0 )
						{
							<button data-group="@button.Key">@button.Value</button>
						}
						else if ( history.Count() > 0 )
						{
							<button data-group="@button.Key">@button.Value</button>
						}
					}
				</div>
			</div>
			<div class="statDisplay">

				@foreach ( var item in stats )
				{
				<div class="stat" data-value="@item.Value" data-group="@string.Join( " ", item.Tags )">
					@if ( item.Tags.Contains( "grandTotal" ) )
					{
						if ( item.IsSearchabilityAllowed )
						{
							<div class="statTitle"><a href="@Url.Content( "~/search?searchType=" + entityType )" target="searchLnk">@item.Title</a></div>
						}
						else
						{
							<div class="statTitle">@item.Title</div>
						}

					}
					@*else if ( item.Tags.Contains( "addTotal" ) )
					{
						if ( item.IsSearchabilityAllowed )
						{
							<div class="statTitle"><a href="@Url.Content( "~/search?searchType=" + entityType )" target="searchLnk">@item.Title</a></div>
						}
						else
						{
							<div class="statTitle">@item.Title</div>
						}

					}*@
					else if ( !string.IsNullOrWhiteSpace( item.CategoryId ) && !string.IsNullOrWhiteSpace( item.CodeId ) && item.IsSearchabilityAllowed )
					{
						if ( item.Tags.Contains( "entityIDFilter" ) )
						{
							<div class="statTitle"><a href="@Url.Content( "~/search?searchType=" + entityType + "&entityFilterID=" + item.CategoryId + "&entityID=" + item.CodeId )" target="searchLnk">@item.Title</a></div>
						}
						else
						{
							<div class="statTitle"><a href="@Url.Content( "~/search?searchType=" + entityType + "&filters=" + item.CategoryId + "-" + item.CodeId )" target="searchLnk">@item.Title</a></div>
						}
					}
					else
					{
						<div class="statTitle">@item.Title</div>
					}
					<div class="statBarWrapper"><div class="statBar">@item.Value</div></div>
					<div class="statDescription">@item.Description</div>
				</div>

					if ( item.Tags.Contains( "endTopSection" ) )
					{
						<div class="chartContainer" style="margin-top:20px;">
							<div class="chart-wrapper">
								<div class="chart" id="@cssClass-Chart"></div>
							</div>
						</div>
					}
				}

				@if ( history != null && history.Count() > 0 )
				{
					var createdMax = history.Max( x => x.CreatedCount );
					var updatedMax = history.Max( x => x.UpdatedCount );
					var deletedMax = history.Max( x => x.DeletedCount );
					// organization history bar
					if ( cssClass.ToLowerInvariant() == "organizations" )
					{
						<div class="historySection statGroup @cssClass" data-group="organizationHistory">

							<div class="history" data-max-value="@createdMax">
								<h3>Created History</h3>
								<p>Monthly totals of Organizations published to the Credential Registry for the first time.   </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.CreatedCount" data-group="organizationHistory created">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.CreatedCount</div></div>
											@*<div class="statDescription">@item.Description</div>*@
										</div>
									}
								}

								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-createdHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@updatedMax">
								<h3>Updated History</h3>
								<p>Aggregated monthly totals for all updates to previously published Organizations.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.UpdatedCount" data-group="organizationHistory updated">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.UpdatedCount</div></div>
											@*<div class="statDescription">Aggregated monthly totals for all updates to previously published credentials</div>*@
										</div>
									}
								}

								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-updatedHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@deletedMax">
								<h3>Deleted History</h3>
								<p>Aggregated monthly totals for all deletes to previously published Organizations.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.DeletedCount" data-group="organizationHistory deleted">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.DeletedCount</div></div>
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-deletedHisChart"></div>
									</div>
								</div>
							</div>
						</div>
					}

					//credentials history bar
					if ( cssClass.ToLowerInvariant() == "credentials" )
					{
						<div class="historySection statGroup @cssClass" data-group="credentialHistory">

							<div class="history" data-max-value="@createdMax">
								<h3>Created History</h3>
								<p>Monthly totals of Credentials published to the Credential Registry for the first time.   </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.CreatedCount" data-group="credentialHistory created">
											<div class="statTitle">@item.Period.ToString( "MMMM   yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.CreatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString("yyyy-MM")</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-createdHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@updatedMax">
								<h3>Updated History</h3>
								<p>Aggregated monthly totals for all updates to previously published Credentials.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.UpdatedCount" data-group="credentialHistory updated">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.UpdatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString( "yyyy-MM" )</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-updatedHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@deletedMax">
								<h3>Deleted History</h3>
								<p>Aggregated monthly totals for all deletes to previously published Credentials.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.DeletedCount" data-group="credentialHistory deleted">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.DeletedCount</div></div>
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-deletedHisChart"></div>
									</div>
								</div>
							</div>
						</div>
					}

					//Assessments history bar
					if ( cssClass.ToLowerInvariant() == "assessments" )
					{
						<div class="historySection statGroup @cssClass" data-group="assessmentHistory">

							<div class="history" data-max-value="@createdMax">
								<h3>Created History</h3>
								<p>Monthly totals of Assessments published to the Credential Registry for the first time.   </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.CreatedCount" data-group="assessmentHistory created">
											<div class="statTitle">@item.Period.ToString( "MMMM   yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.CreatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString("yyyy-MM")</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-createdHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@updatedMax">
								<h3>Updated History</h3>
								<p>Aggregated monthly totals for all updates to previously published Assessments.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.UpdatedCount" data-group="assessmentHistory updated">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.UpdatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString( "yyyy-MM" )</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-updatedHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@deletedMax">
								<h3>Deleted History</h3>
								<p>Aggregated monthly totals for all deletes to previously published Assessments.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.DeletedCount" data-group="assessmentHistory deleted">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.DeletedCount</div></div>
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-deletedHisChart"></div>
									</div>
								</div>
							</div>
						</div>
					}

					//LearningOpportunity history bar
					if ( cssClass.ToLowerInvariant() == "learningopportunities" )
					{
						<div class="historySection statGroup @cssClass" data-group="learningOpportunityHistory">

							<div class="history" data-max-value="@createdMax">
								<h3>Created History</h3>
								<p>Monthly totals of Learning Opportunities published to the Credential Registry for the first time.   </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.CreatedCount" data-group="learningOpportunityHistory created">
											<div class="statTitle">@item.Period.ToString( "MMMM   yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.CreatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString("yyyy-MM")</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-createdHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@updatedMax">
								<h3>Updated History</h3>
								<p>Aggregated monthly totals for all updates to previously published Learning Opportunities.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.UpdatedCount" data-group="learningOpportunityHistory updated">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.UpdatedCount</div></div>
											@*<div class="statDescription">@item.Period.ToString( "yyyy-MM" )</div>*@
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-updatedHisChart"></div>
									</div>
								</div>
							</div>
							<div class="history" data-max-value="@deletedMax">
								<h3>Deleted History</h3>
								<p>Aggregated monthly totals for all deletes to previously published Learning Opportunities.  </p>
								@{

									foreach ( var item in history )
									{
										<div class="stat" data-value="@item.DeletedCount" data-group="learningOpportunityHistory deleted">
											<div class="statTitle">@item.Period.ToString( "MMMM yyyy" )</div>
											<div class="statBarWrapper"><div class="statBar">@item.DeletedCount</div></div>
										</div>
									}
								}
								<div class="chartContainer" style="margin-top:20px;">
									<div class="chart-wrapper">
										<div class="chart" id="@cssClass-deletedHisChart"></div>
									</div>
								</div>
							</div>
						</div>
					}
				}
				@*}*@
			</div>
		</div>
	</div>
}
@helper RenderDebugTable( string header, List<CodeItem> data )
{
	<h1>@header</h1>
	<table class="debugTable">
		<tbody>
			<tr><th>Id</th><th>Name</th><th>Description</th><th>SchemaName</th><th>ParentSchemaName</th><th>Totals</th><th>CategorySchema</th><th>CategoryId</th><th>EntityType</th></tr>
			@foreach ( var item in data )
			{
				<tr><td>@item.Id</td><td>@item.Name</td><td>@item.Description</td><td>@item.SchemaName</td><td>@item.ParentSchemaName</td><td>@item.Totals</td><td>@item.CategorySchema</td><td>@item.CategoryId</td><td>@item.EntityType</td></tr>
			}
		</tbody>
	</table>
}
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/export-data.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		setupBars();
		setupButtons();
		setupHistoryBars();
	});

	function setupBars() {
		var lists = $(".statDisplay");
		lists.each(function () {
			var list = $(this);
			var stats = list.find(".stat");
			var grandTotal = parseFloat(stats.filter("[data-group*=grandTotal]").attr("data-value"));
			stats.each(function () {
				var stat = $(this);
				var dataBar = stat.find(".statBar");
				var value = parseFloat(stat.attr("data-value"));
				dataBar.css("width", ((value / grandTotal) * 100) + "%");
			});
		});
	}

	function setupButtons() {
		var lists = $(".statMainClass");
		lists.each(function () {
			var list = $(this);
			var stats = list.find(".statDisplay .stat, .statDisplay .statGroup");
			var buttons = list.find(".statButtons button");
			buttons.each(function () {
				var button = $(this);
				var group = button.attr("data-group");
				button.on("click", function (select) {
					buttons.addClass('normal').removeClass('active');
					button.removeClass('normal').addClass('active');
					console.log(group);
					if (group === "credentialType") {
						$('#credentialsChart').show();
						stats.removeClass("selected");
						renderCredTypeChart(stats, group, list.attr("class").split(" ")[1], seriesName);
					}
					else {

						stats.removeClass("selected");
						// stats.removeClass("selected").filter("[data-group*=" + group + "]").addClass("selected");
						var seriesName = list.attr("class").split(" ")[1].toUpperCase() + " - " + select.target.innerText;
						renderCredentialBars(stats, group, list.attr("class").split(" ")[1], seriesName);
					}
				});
			});
			buttons.first().trigger("click");
		});
	}

	function setupHistoryBars() {
		var lists = $(".historySection");
		lists.each(function () {
			var list = $(this);

			list.find(".history").each(function () {
				var history = $(this);
				var maxValue = parseInt(history.attr("data-max-value"));
				var stats = history.find(".stat");
				stats.each(function () {
					var stat = $(this);
					var dataBar = stat.find(".statBar");
					var value = parseFloat(stat.attr("data-value"));
					dataBar.css("width", ((value / maxValue) * 100) + "%");
				});
			});

		});
	}

	function renderCredTypeChart(stats, group, category) {
		var columns = [];
		var filteredStats = stats.filter("[data-group*=" + group + "]");
		for (var i = 0; i < filteredStats.length; i++) {
			var obj = {};
			var item = $(filteredStats[i]);
			var htmlele = item.find('div.statTitle').html();
			var descrEle = item.find('div.statDescription');
			obj.name = "<div class='statTitle'><a href='" + $(htmlele).attr('href') + "' target='searchLnk' title='" + descrEle.text() + "'>" + item.find('div.statTitle').text() + "</a></div>";

			obj.y = parseFloat(item.attr('data-value'));
			columns.push(obj);
		}
		columns[0].sliced = true;
		columns[0].selected = true;
		$('#' + category + '-Chart').show();
		$('div.historySection.statGroup.' + category).hide();
		generateCredTypeChart({ id: category + '-Chart', chartData: columns });
	}


	function generateCredTypeChart(options) {
		Highcharts.chart(options.id, {
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: 'Credentials - By Type'
			},
			tooltip: {
				pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					size: '90%',
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						allowOverlap: true,
						format: '{point.name}: <b>{point.y}</b>',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						},
						useHTML: true
					}
				}
			},
			series: [{
				//name: 'Credentials-By Type',
				colorByPoint: true,
				data: options.chartData
			}]
		});

	}

	function renderCredentialBars(stats, group, category, seriesname) {
		var columns = [];
		var labels = [];
		var filteredStats = stats.filter("[data-group*=" + group + "]").not("[data-group*=grandTotal]");
		if (group.indexOf('History') > -1) {
			var labelsCreadted = [], labelsUpdated = [];
			var createdStats = filteredStats.filter("[data-group*=created]").map(function (index, item) {
				var obj = {};
				obj.name = "<div class='statTitle' title='" + $(item).find('div.statDescription').text() + "'>" + $(item).find('div.statTitle').text() + "</div>";
				obj.y = parseFloat($(item).attr('data-value'));
				labelsCreadted.push(obj.name);
				return obj;
			});
			var updatedStats = filteredStats.filter("[data-group*=updated]").map(function (index, item) {
				var obj = {};
				obj.name = "<div class='statTitle' title='" + $(item).find('div.statDescription').text() + "'>" + $(item).find('div.statTitle').text() + "</div>";
				labelsUpdated.push(obj.name);
				obj.y = parseFloat($(item).attr('data-value'));
				return obj;
			});
			var deletedStats = filteredStats.filter("[data-group*=deleted]").map(function (index, item) {
				var obj = {};
				obj.name = "<div class='statTitle' title='" + $(item).find('div.statDescription').text() + "'>" + $(item).find('div.statTitle').text() + "</div>";
				labelsUpdated.push(obj.name);
				obj.y = parseFloat($(item).attr('data-value'));
				return obj;
			});
			$('div.historySection.statGroup.' + category).show();
			columns.splice(0, 1);
			labels.splice(0, 1);
			$('#' + category + '-Chart').hide();
			generateCredTypeBars({ id: category + '-createdHisChart', xData: labelsCreadted, chartData: createdStats, title: '', yTitle: '', seriesname: seriesname });
			generateCredTypeBars({ id: category + '-updatedHisChart', xData: labelsUpdated, chartData: updatedStats, title: '', yTitle: '', seriesname: seriesname });
			generateCredTypeBars({ id: category + '-deletedHisChart', xData: labelsUpdated, chartData: deletedStats, title: '', yTitle: '', seriesname: seriesname });
			return;
		}

		for (var i = 0; i < filteredStats.length; i++) {
			var obj = {};
			var ele = $(filteredStats[i]).find('div.statTitle');
			var descrEle = $(filteredStats[i]).find('div.statDescription');
			var htmlele = ele.html();

			if (htmlele.indexOf("href") > -1) {
				obj.name = "<div class='statTitle'><a href='" + $(htmlele).attr('href') + "' target='searchLnk' title='" + descrEle.text() + "'>" + ele.text() + "</a></div>";
			}
			else {
				obj.name = "<div class='statTitle' title='" + descrEle.text() + "'>" + ele.text() + "</div>";
			}
			obj.name = obj.name.replace("&amp;", "&");
			obj.y = parseFloat($(filteredStats[i]).attr('data-value'));

			columns.push(obj);
			labels.push(obj.name);
		}
		//columns[0].sliced = true;
		//columns[0].selected = true;


		$('div.historySection.statGroup.' + category).hide();

		$('#' + category + '-Chart').show();
		generateCredTypeBars({ id: category + '-Chart', xData: labels, chartData: columns, title: '', yTitle: '', seriesname: seriesname });
	}

	function generateCredTypeBars(options) {
		Highcharts.chart(options.id, {
			chart: {
				type: 'bar',
				height: (9 / 16 * 90) + '%' // 16:9 ratio
			},
			title: {
				text: /*options.title*/ options.seriesname
			},

			xAxis: {
				categories: options.xData,
				title: {
					text: null,
				},
				labels: {
					useHTML: true,
					step: 1
				}
			},
			yAxis: {
				min: 0,
				//opposite: false,
				//align: left,


				title: {
					text: options.yTitle,
					align: 'high'

				},
				labels: {
					overflow: 'justify',

				},
				//style: {
				//    height: 1000,
				//}
			},
			tooltip: {
				//valueSuffix: ' creds'
			},
			plotOptions: {
				bar: {
					dataLabels: {
						enabled: true,
						allowOverlap: true
					}
				}
			},
			legend: {
				enabled: false
			},
			credits: {
				enabled: false
			},
			series:
				[{
					//name: options.seriesname,
					colorByPoint: true,
					data: options.chartData
				}]
		});
	}

</script>

<style type="text/css">
	/*a[title]:hover:after { content: attr(title); padding: 4px 8px; color: #000; position: absolute; left: 0; top: 100%; white-space: nowrap; z-index: 20; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }*/

	.statMainClass {
		margin-bottom: 50px;
	}

		.statMainClass .statHeader {
			margin: 0;
			padding: 5px;
		}

	.statBox {
		display: -webkit-flex;
		display: flex;
	}

	.statSummary {
		-webkit-flex: 300px 0 0;
		flex: 300px 0 0;
	}

	.statTotalBox {
		background-color: #F5F5F5;
		padding: 10px;
		text-align: center;
	}

	.statGrandTotal {
		font-size: 100px;
		font-weight: bold;
	}

	.statGrandTotalTitle {
		font-size: 24px;
		font-weight: bold;
	}

	.statButtons {
		padding: 5px 0;
	}

		.statButtons button {
			display: block;
			padding: 5px;
			width: 100%;
			margin-bottom: 5px;
		}

	button.active {
		background-color: #0F3E63;
		color: white;
	}

	button.normal {
		background-color: none;
	}

	.statDisplay {
		-webkit-flex: auto 1 1;
		flex: auto 1 1;
		padding: 0 0 10px 10px;
	}

	.stat {
		background-color: #F5F5F5;
		margin-bottom: 2px;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		display: none;
	}

		.stat.selected, .stat[data-group*=grandTotal] {
			display: -webkit-flex;
			display: flex;
		}

		.stat .statTitle {
			-webkit-flex: 300px 0 0;
			flex: 300px 0 0;
			font-weight: bold;
			padding: 2px 5px;
		}

		.stat .statBarWrapper {
			-webkit-flex: auto 1 1;
			flex: auto 1 1;
			padding: 1px;
			background-color: #777;
			background-image: linear-gradient(#555,#777);
			height: 25px;
		}

			.stat .statBarWrapper .statBar {
				background-color: #45A085;
				text-align: right;
				padding: 2px 5px;
				color: #FFF;
				height: 100%;
				max-width: 100%;
				min-width: 15px;
				background-image: linear-gradient(#45A085 10%, #56B196 30%, #45A085);
			}

		.stat .statDescription {
			-webkit-flex: 100% 0 0;
			flex: 100% 0 0;
			padding: 2px 5px;
			font-size: 14px;
		}

	.statGroup {
		display: none;
	}

		.statGroup.selected {
			display: block;
		}
	/*/*history bars*/
	/*.vStat { background-color: #F5F5F5; margin-bottom: 2px; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
																																																								.vStat.selected, .vStat[data-group*=grandTotal] { display: -webkit-flex; display: flex; }
																																																									.vStat .statVTitle { -webkit-flex: 300px 0 0; flex: 300px 0 0; font-weight: bold; padding: 2px 5px; }
																																																									.vStat .statVBarWrapper { -webkit-flex: auto 1 1; flex: auto 1 1; padding: 1px; background-color: #777; background-image: linear-gradient(#555,#777); height: 25px; }
																																																										.vStat .statVBarWrapper .statVBar { background-color: #45A085; text-align: right; color: #FFF; padding: 2px 5px; height: 100%; max-width: 100%; min-width: 15px; background-image: linear-gradient(#45A085 10%, #56B196 30%, #45A085); }
																																																									.statVBar{height:50%;}
																																																									.vStat .statDescription { -webkit-flex: 100% 0 0; flex: 100% 0 0; padding: 2px 5px; font-size: 14px; }*/

	.disclaimer {
		padding: 0 20px;
		font-style: italic;
	}

	.highcharts-anchor {
		text-decoration: none;
		color: #1C73B5;
		word-wrap: break-word;
		font-size: inherit;
	}


	@@media (max-width: 1000px) {
		.statSummary {
			-webkit-flex: 200px 0 0;
			flex: 200px 0 0;
		}

		.stat .statBarWrapper {
			-webkit-flex: 100% 0 0;
			flex: 100% 0 0;
		}

		.vStat .statVBarWrapper {
			-webkit-flex: 100% 0 0;
			flex: 100% 0 0;
		}
	}

	@@media (max-width: 500px) {
		.statBox {
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}

		.statVBar {
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}

		.statSummary {
			-webkit-flex: 100% 0 0;
			flex: 100% 0 0;
		}

		.statDisplay {
			-webkit-flex: auto 1 1;
			flex: auto 1 1;
			padding: 0;
		}
	}
</style>

<h1>Credential Registry Data</h1>
<div class="helpBox">
	<i class="fas fa-info-circle helpIcon"></i>
	<div class="helpContent">
		<div>This page displays current data in the Credential Registry.</div>
		<div>To view counts of data in the Registry, select any of the types of data listed under Organizations, Credentials, Learning Objectives, Assessments, and Competency Frameworks. The counts show with graphs that include links to the search.  Select any of the links with the graphs to see this information in the Credential Finder.</div>
	</div>
</div>
<p class="disclaimer">Note that some data may involve certain things being counted multiple times. For instance, an Organization with more than one type selected will be counted once for each type.</p>

@if ( Request.Params[ "debug" ] == "true" )
{
	<style type="text/css">
		.debugTable {
			width: 100%;
			max-width: none;
		}

			.debugTable * {
				font-size: 12px;
			}
	</style>
	@RenderDebugTable( "Main Entity Totals", Model.MainEntityTotals )
	@RenderDebugTable( "Properties Totals", Model.PropertiesTotals )
	@RenderDebugTable( "By Entity Totals", Model.PropertiesTotalsByEntity )
	@RenderDebugTable( "By Occupation Group Totals", Model.SOC_Groups )
	@*@RenderDebugTable( "By Cred Industry Group Totals", Model.CredentialIndustry_Groups )
		@RenderDebugTable( "By Org Industry Group Totals", Model.OrgIndustry_Groups )
		@RenderDebugTable( "By CIP Group Totals", Model.AssessmentCIP_Groups )*@
}

@{
	var orgItems = stats.Where( m => m.Tags.Contains( "organizations" ) ).OrderBy( m => m.Value ).ToList();
}
@RenderStatBox( "Organizations", "organization", "organizations", stats.Where( m => m.Tags.Contains( "organizations" ) ).ToList(), new Dictionary<string, string>()
{
{ "general", "General" },
{ "organizationType", "By Type" },
{ "organizationSector", "By Sector" },
{ "organizationService", "By Service" },
{ "organizationVerifyType", "By Claim Type" },
{ "organizationIdentity", "By Identifier Type" },
//{ "organizationSocialMedia", "By Social Media Type" },
{ "organizationAgentRole", "By Organization Relationships" },
{ "organizationIndustryGroup", "By Industry Groups" },
{"organizationHistory", "By Organization History" },


//{ "organizationState", "By State" },

}, false, Model.OrganizationHistory )


@RenderStatBox( "Credentials", "credential", "credentials", stats.Where( m => m.Tags.Contains( "credentials" ) ).ToList(), new Dictionary<string, string>()
{
{ "general", "General" },
{ "credentialType", "By Type" },
{ "credentialAudienceType", "By Audience Type" },
{ "credentialAudienceLevel", "By Audience Level" },
{ "credentialAssessmentDelivery", "By Assessment Delivery Type" },
{ "credentialLearningDelivery", "By Learning Delivery Type" },
//{ "credentialCostType", "By Cost Type" }, //Not supposed to be included by type
{ "credentialConnectionType", "By Connection Type" },
{ "directConnection", "By Direct Connection" },
{ "credentialStatusType", "By Status Type" },
{ "credentialAgentRole", "By Relationships to Organizations" },
{ "credentialSocGroup", "By Occupation Groups" },
{ "credentialIndustryGroup", "By Industry Groups" },
{ "credentialCIPGroup", "By CIP Groups" },
{ "credentialRegions", "By U.S. Regions" },
{"credentialHistory", "By Credential History" },
//{ "credentialState", "By State" },
}, false, Model.CredentialHistory )

@RenderStatBox( "Assessments", "assessment", "assessments", stats.Where( m => m.Tags.Contains( "assessments" ) ).ToList(), new Dictionary<string, string>()
{
{ "general", "General" },
{ "assessmentMethodType", "By Method Type" },
{ "assessmentUseType", "By Use Type" },
{ "assessmentScoringMethodType", "By Scoring Method Type" },
{ "assessmentDelivery", "By Delivery Type" },
{ "assessmentAudienceType", "By Audience Type" },
{ "assessmentAgentRole", "By Relationships to Organizations" },
{ "assessmentSocGroup", "By Occupation Groups" },
{ "assessmentIndustryGroup", "By Industry Groups" },
{ "assessmentCIPGroup", "By CIP Groups" },
{"assessmentHistory", "By Assessment History" },
//{ "deliveryType", "By Delivery Type" },
//{ "assessmentState", "By State" },
}, false, Model.AssessmentHistory )

@RenderStatBox( "Learning Opportunities", "learningopportunity", "learningOpportunities", stats.Where( m => m.Tags.Contains( "learningOpportunities" ) ).ToList(), new Dictionary<string, string>()
{
{ "general", "General" },
{ "learningMethodType", "By Method Type" },
{ "learningOpportunityAudienceType", "By Audience Type" },
{ "deliveryType", "By Delivery Type" },
{ "learningOpportunityAudience", "By Audience Type" },
{ "learningOpportunityAgentRole", "By Relationships to Organizations" },
{ "learningOpportunitySocGroup", "By Occupation Groups" },
{ "learningOpportunityIndustryGroup", "By Industry Groups" },
{ "learningOpportunityCIPGroup", "By CIP Groups" },
{"learningOpportunityHistory", "By LearningOpportunity History" },
//{ "learningOpportunityState", "By State" },
}, false, Model.LearningOpportunityHistory )

@RenderStatBox( "Competency Frameworks", "competencyframework", "competencyFrameworks", stats.Where( m => m.Tags.Contains( "competencyFrameworks" ) ).ToList(), new Dictionary<string, string>
	()
	{
	{ "general", "General" },
	}, false)
