
@{
    ViewBag.Title = "Guidance";
}
@Styles.Render( "~/Content/css" )

@Html.Partial( "~/Views/Shared/_Ajax.cshtml" )



@*<div class="headerMenu column" id="headerMenuSearch">
        <button class="headerMenuTitle"><i class="fa fa-search"></i> Search <i class="fa fa-caret-down expandArrow"></i><i class="fa fa-caret-up collapseArrow"></i></button>
        <div class="headerMenuList">
            <a href="@Url.Content( "~/search?searchtype=credential" )">Credentials</a>
            <a href="@Url.Content( "~/search?searchtype=organization" )">Organizations</a>
            <a href="@Url.Content( "~/search?searchtype=assessment" )">Assessments</a>
            <a href="@Url.Content( "~/search?searchtype=learningopportunity" )">Learning Opportunities</a>
            <a class="blueButton" href="@Url.Content( "~/Reports" )"></a>
        </div>
    </div>*@
<div class="col-md-12">
    
    <a style="float:right; border:medium" href="~/StyleTemplate1.css" download><i class="fa fa-download"></i>Download link</a>
    </div>


    <h2><b>Guidance</b></h2>
    <div class="row">
        <div class="col-md-12">
            <h3> Cusotmize Logo</h3>
            <div class="col-md-12">
                <p>How to customize logo</p>
            </div>
            <ol>
                <li>
                    A good practise is not to include the protocol so works properly with both secure and non-secure sites.<br />
                    For example "//example.com/mylogo.png"

                </li>
                <li>
                    Use the below format to change the logo.<br />
                    <strong>#mainSiteLogo { background-image: url('//example.com/mylogo.png')}</strong>
                </li>
                <li>To change the logo image go to the downloaded template and search for <mark>#mainSiteLogo</mark> </li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>Update Main Styles</h3>
        </div>
        <div class="col-md-12">
            <p>How to update main styles</p>
        </div>
        <ol>
            <span style="color:blue">MAIN SITE HEADER</span>
            <li>To change the background-color of the banner,chnage the color to "example color" </li>
            <li>For Example: <strong>#mainSiteHeader{ background-color: aquamarine; }</strong></li>
            <li>To do above changes search for <mark>mainSiteHeader</mark></li>
        </ol>

        <ol>
            <span style="color:blue"> SEARCH BUTTON</span>
            <li>To change the button background-color,just type in the color which you would like to be represted </li>
            <li>To edit the text color, type the color code as u expected it to be.</li>
            <li>
                For Example :<strong>.searchButton { background-color: #0F3E63; color: #FFFFFF; }</strong>
            </li>
            <li>To do above changes search for <mark>searchButton</mark></li>
        </ol>

        <ol>
            <span style="color:blue">FILTER BUTTON</span>
            <li>To change the button backgroung-color,just type in the color which you would like to be represted</li>
            <li>To edit the text color, type the color code as u expected it to be.</li>
            <li>For Example:<strong>.filterButton { background-color: #3b7741; color: #FFFFFF; }</strong></li>
            <li>To do above changes search for <mark>filterButton</mark></li>
        </ol>

        <ol>
            <span style="color:blue"> RESET BUTTON</span>
            <li>To change the button backgroung-color,just type in the color which you would like to be represted</li>
            <li>To edit the text color, type the color code as u expected it to be.</li>
            <li>For Example: <strong>.resetButton { background-color: #B55130; color: #FFFFFF; }</strong> </li>
            <li>To do above changes search for <mark>resetButton</mark></li>
        </ol>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3> Hiding Description</h3>
        </div>
        <div class="col-md-12">
            <p>How to hide description</p>
        </div>
        <ol>
            <span style="color:blue">HIDE/SHOW DESCRIPTION</span>
            <li>To set up the color of the button, follow the below instructions.</li>
            <li>search for <mark>contentToggleButton</mark> </li>
            <li>
                For Example:
                <strong>.contentToggleButton{ color: #3D4443; }</strong>
            </li>

        </ol>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3> Hiding Gray Boxes</h3>
        </div>
        <div class="col-md-12">


            <ol>
                <span style="color:blue">To hide gray boxes</span>
                <li>To hide the gray button, type <mark>display:none, in the class section.</mark></li>
                <li>
                    For Example:
                    <strong>.contentToggleButton {display:none;}</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">

            <h3> Update List and Map Styles</h3>
        </div>

        <div class="col-md-12">

            <ol>
                <span style="color:blue">LIST & MAP BUTTONS</span>
                <li>To change the backgroung-color and color of the both the list and map buttons, follow the steps below:</li>
                <li>Check for <mark>viewButton</mark></li>
                <li>For Example:<strong>.viewButton { background-color: #FFFFFF; color: #000000; }</strong></li>
            </ol>
        </div>
    </div>



