@*
<div id="mainSiteFooter" class="inlineBlockBox">
    
    <div class="column logo">
        <a id="mainSiteFooterLogo" href="@Url.Content( "~/home/v2" )" style="background-image: url('@Url.Content( "~/Images/Common/poweredby.png" )');"></a>
    </div>

    <div class="column socialMediaLinks">
        <h5>Follow us:</h5>
        <a href="http://twitter.com/CTI_credential" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
        <a href="http://www.facebook.com/credtransparency" target="_blank"><i class="fa fa-fw fa-facebook-official"></i> Facebook</a>
    </div>

    <div class="column">
        <h5>Managed by:</h5>
        <a href="http://gwipp.gwu.edu/" target="_blank">George Washington University</a>
        <a href="http://cwd.siu.edu/" target="_blank">Southern Illinois University</a>
        <a href="http://www.workcred.org/" target="_blank">Workcred</a>
    </div>

    <div class="column">
        <h5>Supported by:</h5>
        <a href="http://www.luminafoundation.org/" target="_blank">Lumina Foundation</a>
    </div>

    <div class="column footerText">
        <p>To learn more about how the Credential Transparency Initiative can help your organization become more involved, <a href="http://www.credentialtransparencyinitiative.org/" target="_blank">visit the CTI website</a> and see a list of <a href="http://credreg.net/page/introduction" target="_blank">CTI leaders and stakeholders</a>.</p>
		<p><a href="@Url.Content( "~/reports" )">Registry Participant Data</a></p>
    </div>

</div>
*@

<div id="mainSiteFooter">
	<div class="footerColumn footerLogo">
		<a id="mainSiteFooterLogo" href="@Url.Content( "~/home/v2" )"><img src="@Url.Content( "~/Images/Common/poweredby.png" )" /></a>
		<div id="footerLogoText">Learn more about the <a href="http://www.credentialengine.org/" target="_blank">Credential Engine</a></div>
	</div>
	<div class="footerColumn">
		<h2>Follow Us:</h2>
		<a href="https://twitter.com/credengine" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
		<a href="https://www.facebook.com/credengine" target="_blank"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
		<a href="https://www.youtube.com/channel/UCyTpUktFYQNlLrLR4O_AcQA" target="_blank"><i class="fa fa-fw fa-youtube"></i> YouTube</a>
		@*<a href="http://linkedin.com" target="_blank"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>*@
	</div>
	<div class="footerColumn">
		<h2>Contact Us:</h2>
		<a href="mailto:info@credentialengine.org" target="_blank"><i class="fa fa-fw fa-envelope"></i> Email Us</a>
	</div>
	<div class="footerColumn">
		<h2>Website Information:</h2>
		<a href="@Url.Content( "~/reports" )">Registry Participant Data</a>
		<a href="http://www.credentialengine.org/About/PrivacyPolicy">Privacy Policy</a>
		<a href="http://www.credentialengine.org/About/TermsOfUse">Terms of Use</a>
	</div>
	<div class="footerColumn">
		<h2>Websites:</h2>
		<a target="_blank" href="http://www.credentialengine.org">Credential Engine</a>
		<a target="_blank" href="http://credreg.net">Credential Engine Technical Planning</a>
	</div>
	<div class="footerColumn">
		<h2>Supported By:</h2>
		<a class="imageLink" href="http://www.luminafoundation.org/" target="_blank" title="Lumina Foundation"><img src="@Url.Content( "~/images/v2/common/logo_lumina.jpg" )" /></a>
		<a class="imageLink" href="https://www.jpmorganchase.com/corporate/Corporate-Responsibility/global-philanthropy.htm" target="_blank" title="JPMorgan Chase & Co."><img src="@Url.Content( "~/images/v2/common/logo_jpmorgan.jpg" )" /></a>
	</div>
</div>
